<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - Bizgolf</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="/fshl.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    <div class="page-header">
      <div class="pull-right">
        {% if user %}
          Welcome, <a href="{{ urlFor('user', {"userId": user._id}) }}">{{ user.username|e }}</a>
        {% else %}
          <a href="{{ urlFor('login') }}">Login</a> / <a href="{{ urlFor('register') }}">Register</a>
        {% endif %}
      </div>
      <h1><a href="{{ urlFor('home') }}">Bizgolf <small>What's your par?</small></a></h1>
    </div>
    {% if flash.error %}
      <div class="alert alert-error">{{ flash.error }}</div>
    {% endif %}
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
