{% extends "base.html" %}
{% block title %}{{ hole.title|e }}{% endblock %}
{% block content %}
  <div class="row-fluid">
    <div class="span7">
      <h2>{{ hole.title|e }}</h2>
      <dl class="dl-horizontal">
        <dt>Description:</dt>
        <dd>{{ hole.description }}</dd>
        {% if hole.specification.constantName %}
          <dt>Constant Name:</dt>
          <dd>{{ hole.specification.constantName|e }}</dd>
        {% endif %}
        {% if hole.disabledFunctions %}
          <dt>Disabled Functions:</dt>
          <dd>{{ hole.disabledFunctions|e }}</dd>
        {% endif %}
        <dt>Trim:</dt>
        <dd>{{ hole.trim|e }}</dd>
        <dt>Sample:</dt>
        <dd><pre class="pre-scrollable">{{ hole.sample }}</pre></dd>
        {% if hole.startDate %}
          <dt>Start Date:</dt>
          <dd>{{ hole.startDateFormatted|e }}</dd>
        {% endif %}
        {% if hole.endDate %}
          <dt>End Date:</dt>
          <dd>{{ hole.endDateFormatted|e }}</dd>
        {% endif %}
        {% if user.isAdmin %}
          <dt>Revalidate:</dt>
          <dd>
            <form method="post" action="/holes/{{ hole._id|e('url') }}/submissions/revalidate">
              <button type="submit" class="btn">Submit</button>
            </form>
          </dd>
        {% endif %}
      </dl>
      {% if user and (user.isAdmin or hole.isOpen) %}
        <form enctype="multipart/form-data" method="post" action="/holes/{{ hole._id|e('url') }}/submissions">
          <legend>Submit a file</legend>
          <input type="file" name="submission" /><br />
          <button type="submit" class="btn">Submit</button>
        </form>
      {% endif %}
    </div>
    <div class="span5">
      <h3>Scoreboard</h3>
      <table class="table table-condensed table-hover">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Length</th>
          <th>Score</th>
        </tr>
        {% for i, submission in hole.scoreboard %}
          <tr>
            <td>{{ i|e + 1 }}</td>
            <td><a href="{{ urlFor('user', {"userId": submission.user._id}) }}">{{ submission.user.username|e }}</a></td>
            <td>
              {% if submission.viewableByUser %}
                <a href="{{ urlFor('submission', {"holeId": hole._id, "submissionId": submission._id}) }}">
              {% endif %}
              {{ submission.length|e }}
              {% if submission.viewableByUser %}
                </a>
              {% endif %}
            </td>
            <td>{{ submission.score|e }}</td>
          </tr>
        {% endfor %}
      </table>

      <h3>Recent Scores</h3>
      <table class="table table-condensed table-hover">
        <tr>
          <th>Username</th>
          <th>Length</th>
          <th>Score</th>
          <th>Date</th>
        </tr>
      {% for submission in hole.submissions %}
        <tr class="{% if submission.result %}success{% else %}error{% endif %}">
          <td><a href="{{ urlFor('user', {"userId": submission.user._id}) }}">{{ submission.user.username|e }}</a></td>
          <td>
            {% if submission.viewableByUser %}
              <a href="{{ urlFor('submission', {"holeId": hole._id, "submissionId": submission._id}) }}">
            {% endif %}
            {{ submission.length|e }}
            {% if submission.viewableByUser %}
              </a>
            {% endif %}
          </td>
          <td>{{ submission.score|e }}</td>
          <td>{{ submission.timestampFormatted|e }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
