{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="hero-unit">
    <h2>Holes</h2>
    <ul class="unstyled">
    {% for hole in holes %}
      <li><a href="{{ urlFor('hole', {"holeId": hole._id}) }}">{{ hole.title|e }}</a> - <small>{{ hole.shortDescription|e }}</small></li>
    {% else %}
      <li>No holes are configured.  Check back later!</li>
    {% endfor %}
    </ul>
    {% if user.isAdmin %}
      <hr />
      <a href="{{ urlFor('newHole') }}">Create a new hole</a>
    {% endif %}
  </div>

  <div class="row">
    <div class="span4">
      <h2>Scoreboard</h2>
      <table class="table table-hover">
        <tr>
          <th>Username</th>
          <th>Score</th>
        </tr>
        {% for user in users %}
          <tr>
            <td><a href="{{ urlFor('user', {"userId": user._id}) }}">{{ user.username|e }}</a></td>
            <td>{{ user.stats.score|e }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="span8">
      <h2>Recent Scores</h2>
      <table class="table table-condensed table-hover">
        <tr>
          <th>Hole</th>
          <th>Username</th>
          <th>Length</th>
          <th>Score</th>
          <th>Date</th>
        </tr>
        {% for submission in submissions %}
          <tr class="{% if submission.result %}success{% else %}error{% endif %}">
            <td><a href="{{ urlFor('hole', {"holeId": submission.hole._id}) }}">{{ submission.hole.title|e }}</a></td>
            <td><a href="{{ urlFor('user', {"userId": submission.user._id}) }}">{{ submission.user.username|e }}</a></td>
            <td>
              {% if submission.user._id == user._id or user.isAdmin or submission.hole.hasEnded %}
                <a href="{{ urlFor('submission', {"holeId": submission.hole._id, "submissionId": submission._id}) }}">
              {% endif %}
              {{ submission.length|e }}
              {% if submission.user._id == user._id or user.isAdmin or submission.hole.hasEnded %}
                </a>
              {% endif %}
            </td>
            <td>{{ submission.score|e }}</td>
            <td>{{ submission.timestampFormatted|e }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
