{% extends "base.html" %}
{% block title %}Create a New Hole{% endblock %}
{% block content %}
<h2>Create a New Hole</h2>
<form method="post" class="form-horizontal" action="/holes">
  <div class="control-group">
    <label class="control-label" for="fileName">Specification</label>
    <div class="controls">
      <div class="span3">
        <input type="text" name="fileName" placeholder="Bizgolf Hole Identifier" />
      </div>
      <div class="span1"><strong>OR</strong></div>
      <div class="span3">
        <input type="text" name="constantName" placeholder="Constant Name" />
        <div>
          <label for="constantValuesIsAFunction" class="checkbox">
            <input type="checkbox" name="constantValuesIsAFunction" /> Constant Values Is A Function
          </label>
        </div>
        <textarea name="constantValues" placeholder="Constant Values (Function or CSV)" class="input-xxlarge" rows="8"></textarea>
        <input type="text" name="trim" placeholder="Trim" />
        <div>
          <label for="sampleIsAFunction" class="checkbox">
            <input type="checkbox" name="sampleIsAFunction" /> Sample Is A Function
          </label>
        </div>
        <input type="text" name="sampleArguments" placeholder="Sample Arguments" />
        <textarea name="specification-sample" placeholder="Sample (Function or String)" class="input-xxlarge" rows="8"></textarea>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
      <input type="text" name="title" placeholder="Title" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="shortDescription">Short Description</label>
    <div class="controls">
      <input type="text" name="shortDescription" placeholder="Short Description" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
      <textarea name="description" placeholder="Description" class="input-xxlarge" rows="8"></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="sample">Sample</label>
    <div class="controls">
      <textarea name="sample" placeholder="Sample Submission" class="input-xxlarge" rows="8"></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="startDate">Start Date</label>
    <div class="controls">
      <input type="text" name="startDate" placeholder="Start Date (UNIX timestamp)" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="endDate">End Date</label>
    <div class="controls">
      <input type="text" name="endDate" placeholder="End Date (UNIX timestamp)" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
