{% extends "base.html" %}
{% block title %}Submission for {{ hole.title|e }}{% endblock %}
{% block content %}
  <h2><a href="/holes/{{ hole._id|e('url') }}">{{ hole.title|e }}</a></h2>
  <dl class="dl-horizontal">
    <dt>Source Code:</dt>
    <dd><pre>{{ submission.code|e }}</pre></dd>
    <dt>Raw Source Code:</dt>
    <dd><pre>{{ submission.rawCode|e }}</pre></dd>
    <dt>Output:</dt>
    <dd><pre>{{ submission.output|e }}</pre></dd>
    <dt>Expected:</dt>
    <dd><pre>{{ submission.sample|e }}</pre></dd>
    <dt>Error:</dt>
    <dd><pre>{{ submission.stderr|e }}</pre></dd>
    <dt>Exit Status:</dt>
    <dd>{{ submission.exitStatus|e }}</dd>
    <dt>Length:</dt>
    <dd>{{ submission.length|e }}</dd>
  </dl>
{% endblock %}
