{% extends "base.html" %}
{% block title %}Submission for {{ hole.title|e }}{% endblock %}
{% block content %}
<h2><a href="{{ urlFor('hole', {"holeId": hole._id}) }}">{{ hole.title|e }}</a> by <a href="{{ urlFor('user', {"userId": submission.user._id}) }}">{{ submission.user.username|e }}</a></h2>
  <dl class="dl-horizontal">
    <dt>Source Code:</dt>
    <dd><pre>{{ submission.code }}</pre></dd>
    <dt>Inverted Code:</dt>
    <dd><pre>{{ submission.invertedCode }}</pre></dd>
    <dt>Output:</dt>
    <dd><pre>{{ submission.output|e }}</pre></dd>
    <dt>Expected:</dt>
    <dd><pre>{{ submission.sample|e }}</pre></dd>
    <dt>Diff:</dt>
    <dd><pre>{{ submission.diff }}</pre></dd>
    <dt>Error:</dt>
    <dd><pre>{{ submission.stderr|e }}</pre></dd>
    {% if submission.constantName %}
    <dt>Constant:</dt>
    <dd><pre>{{ submission.constantName|e }}={{ submission.constantValue|e }}</pre></dd>
    {% endif %}
    <dt>Exit Status:</dt>
    <dd>{{ submission.exitStatus|e }}</dd>
    <dt>Length:</dt>
    <dd>{{ submission.length|e }}</dd>
  </dl>
{% endblock %}
